* {
    margin: 0%;
    padding: 0%;
    font-family: Georgia;
}


body{
    background-color: #f5eee4;
}

.primero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f9f5ef;
    padding: 20px;
}

.contacto_izquierda{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 2px;
}

.contacto_izquierda i {
    font-size: 30px;
}

.contacto_izquierda i:hover{
    font-size: 33px;
    color: #c1a182;
    cursor: pointer;
}

.iconCafe{
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 2px;
    font-size: 25px;
}
.iconCafe i{
    font-size: 35px ;
}
.iconCafe:hover{
    cursor:pointer;
    font-size: 27px;
}

.carrito{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 2px;
}
.carrito h1{
    color: #c7a17c;
}

.carrito i{
    font-size: 25px;
    color: #c7a17c;
    cursor: pointer;
}
.carrito i:hover{
    font-size: 27px;
    color: black;
}

.segundo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #c7a17c;
    height: 15px;
    padding: 10px 10px;
}
.segundo div h5:hover{
    font-size: 16px;
    color:#ffffff;
    cursor: pointer;
}
.segundo input{
    border: none;
    border-radius: 20px;
}

.busqueda{
    display: flex;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 20px;
    background-color: #ffffff;
    height: 17px;
    width: 300px;
}

.busqueda input{
    outline: none;
	font-family: inherit;
	border: none;
	width: 260px;
	font-size: 1.4rem;
	padding: 0 2rem;
	color: #777;
	cursor: pointer;
    background-color: transparent;
}


.busqueda .btn-search {
	border: none;
	background-color: var(--primary-color);
	height: 100px;
	
}

.btn-search i {
	font-size: 20px;
	color: #705639;
    
}

.imagen_fondo{
    z-index: -1;

    position: absolute;
    width: 99px;
}

.imagen_fondo img{
    width: 1920%;
    height: 600px;
}
.imagen_fondo img {
    filter: brightness(45%);
}

.tercero .cafe{
    color: rgb(255, 255, 255);
    z-index: 15;
    display: flex;
    padding: 250px 400px 0px ;
    flex-direction: column;
}
.cafe p{
    color: #c1a182;
}

.cafe button{
    border-radius: 20px;
    height: 50px;
    width: 180px;
    border: none;
    background-color: #c1a182;
    color: #ffffff;
}

.cafe button:hover{
    color: #000000;
    cursor: pointer;
}

.columnas{
    margin:  240px;
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

.columnas p {
    color: rgb(203, 203, 203);
}

.columnas .uno {
    border-radius: 20px;
    box-shadow: 2px 0px 10px 0px rgb(209, 209, 209) ;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 1000px;
    height: 85px;
    background-color: #fff;
}

.avion i {
    font-size: 30px;
    padding-right: 15px;
    padding-left: 15px;
}

.avion i:hover{
    color: #c1a182;
    cursor: pointer;
}

.columnas .dos {
    border-radius: 20px;
    box-shadow: 2px 0px 10px 0px rgb(209, 209, 209) ;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 1000px;
    height: 85px;
    background-color: #fff;
}

.cartera i {
    font-size: 30px;
    padding-right: 15px;
    padding-left: 15px;
}
.cartera i:hover{
    color: #c1a182;
    cursor: pointer;
}

.columnas .tres {
    border-radius: 20px;
    box-shadow: 2px 0px 10px 0px rgb(209, 209, 209) ;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 1000px;
    height: 85px;
    background-color: #fff;
}

.regalo i {
    font-size: 30px;
    padding-right: 15px;
    padding-left: 15px;
}
.regalo i:hover{
    color: #c1a182;
    cursor: pointer;
}

.columnas .cuatro {
    border-radius: 20px;
    box-shadow: 2px 0px 10px 0px rgb(209, 209, 209) ;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 1000px;
    height: 85px;
    background-color: #fff;
}

.cascos i {
    font-size: 30px;
    padding-right: 15px;
    padding-left: 15px;
}
.cascos i:hover{
    color: #c1a182;
    cursor: pointer;
}

.top-categories h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: -200px;
}

.top-categories {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-categories {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}

.card-category {
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	gap: 2rem;
}

.category-moca {
	background-image: linear-gradient(#00000080, #00000080),
		url('imagenes/moca-category.jpg');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.category-capuchino {
	background-image: linear-gradient(#00000080, #00000080),
		url('imagenes/capuchino-category.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.category-expreso {
	background-image: linear-gradient(#00000080, #00000080),
		url('imagenes/expreso-category.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.card-category p {
	font-size: 2.5rem;
	color: #fff;
	text-transform: capitalize;
	position: relative;
}

.card-category p::after {
	content: '';
	width: 2.5rem;
	height: 2px;
	background-color: #fff;
	position: absolute;
	bottom: -1rem;
	left: 50%;
	transform: translate(-50%, 50%);
}

.card-category span {
	font-size: 1.6rem;
	color: #fff;
	cursor: pointer;
}

.card-category span:hover {
	color:#ae9467;
}

.top-products h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.top-products {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-options {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 1rem;
}

.container-options span {
	color: #a8a1a1;
	background-color: #fff;
	padding: 0.7rem 3rem;
	font-size: 1.4rem;
	text-transform: capitalize;
	border-radius: 2rem;
	cursor: pointer;
}

.container-options span:hover {
	background-color:#c1a182;
	color: #ffffff;
}

.container-options span.active {
	background-color:#c1a182;
	color: #ffffff;
}

/* Products */
.container-products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 3rem;
}

.card-product {
	background-color: #fff;
	padding: 2rem 3rem;
	border-radius: 0.5rem;
	cursor: pointer;
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.1);
}

.container-img {
	position: relative;
}

.container-img .discount {
	position: absolute;
	left: 0;
	background-color: var(--primary-color);
	color:#af6a26;
	padding: 2px 1.2rem;
	border-radius: 1rem;
	font-size: 1.2rem;
}

.card-product:hover .discount {
	background-color:#af6a26;
    color: #fff;
}

.button-group {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	position: absolute;
	top: 0;
	right: -3rem;
	z-index: -1;
	transition: all 0.4s ease;
}

.button-group span {
	padding: 0.8rem;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;
}

.button-group span:hover {
	background-color: var(--primary-color);
}

.button-group span i {
	font-size: 1.5rem;
	color: #af6a26;
}

.button-group span:hover i {
	color: #fff;
}

.card-product:hover .button-group {
	z-index: 0;
	right: -1rem;
}

.content-card-product {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, min-content);
	row-gap: 1rem;
}

.stars {
	grid-row: 1/2;
	grid-column: 1/-1;
    color: #a17f58;
    padding-top: 20px;
}

.stars i {
	font-size: 1.3rem;
	color: var(--primary-color);
}

.content-card-product h3 {
	grid-row: 2/3;
	grid-column: 1/-1;

	font-weight: 400;
	font-size: 1.6rem;
	margin-bottom: 1rem;
	cursor: pointer;
}

.content-card-product h3:hover {
	color: var(--primary-color);
}

.add-cart {
	justify-self: start;
	border: 2px solid var(--primary-color);
	padding: 1rem;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;

	display: flex;
	align-items: center;
	justify-content: center;
}

.add-cart:hover {
	background-color: var(--primary-color);
}

.add-cart i {
	font-size: 1.5rem;
	color:#af6a26;;
}

.add-cart:hover i {
	color: #ada8a8;
}

.content-card-product .price {
	justify-self: end;
	align-self: center;
	font-size: 1.7rem;
	font-weight: 600;
}

.content-card-product .price span {
	font-size: 1.5rem;
	font-weight: 400;
	text-decoration: line-through;
	color: #c30000;
	margin-left: 0.5rem;
}

/* ********************************** */
/*               GALLERY              */
/* ********************************** */
.gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 30rem);
	gap: 1.5rem;
	margin-bottom: 3rem;
}

.gallery-img-1 {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-img-2 {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-img-4 {
	width: 100%;
	height: 80%;
	object-fit: cover;
}

.gallery-img-5 {
	width: 100%;
	height: 80%;
	object-fit: cover;
}


.gallery-img-3 {
	grid-column: 2/4;
	grid-row: 1/3;
    height:90%;
    width: 100%;
}


.specials {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

/* ********************************** */
/*                BLOGS               */
/* ********************************** */
.blogs {
	display: flex;
	flex-direction: column;
}

.container-img{
    display: flex;
    justify-content: center;
}
.container-img #img1-1{
    padding-left: 100px;
}
.container-img #img3-3{
    padding-right: 100px;
}
.container-blogs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}

.heading-1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-bottom: 12px;
}

.card-blog {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.card-blog .container-img {
	border-radius: 100px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.button-group-blog {
	position: absolute;
	bottom: 1.5rem;
	right: -2.5rem;

	display: flex;
	gap: 0.7rem;
	z-index: -1;
	transition: all 0.3s ease;
}

.card-blog:hover .button-group-blog {
	z-index: 0;
	right: 1.5rem;
}

.button-group-blog span {
	background-color: #ffffff;
	padding: 1rem;
	border-radius: 50%;
	transition: all 0.4s ease;

	display: flex;
	align-items: center;
	justify-content: center;
}

.button-group-blog span i {
	font-size: 1.3rem;
}

.button-group-blog span:hover {
	background-color: var(--primary-color);
}

.button-group-blog span:hover i {
	color: #ae1e1e;
}

.content-blog h3 {
	font-size: 1.8rem;
	margin-bottom: 1.7rem;
	color: var(--dark-color);
	font-weight: 500;
    display: flex;
    justify-content: center;
}

.content-blog h3:hover {
	color: var(--primary-color);
	cursor: pointer;
}

.content-blog span{
    padding-left: 50px;
    color: #c1a182;
    font-size: 1.3rem;
}

.content-blog p {
	margin-top: -40px;
	font-size: 1.4rem;
	color: #777;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.btn-read-more {
    margin-left: 50px;
    margin-bottom: 100px;
	padding: 5px 35px;
	background-color:#c1a182;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 1.4rem;
	border-radius: 2rem;
	display: inline-block;
	cursor: pointer;
}

.btn-read-more:hover {
	background-color: #000;
}

/* ********************************** */
/*               FOOTER               */
/* ********************************** */

.footer {
	background-color: #c1a182;
}

.container-footer {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 3rem;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.title-footer {
	font-weight: 600;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.contact-info,
.information,
.my-account,
.newsletter {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
	list-style: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 300;
}

.information ul li a,
.my-account ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
	color: #000;
}

.social-icons {
	display: flex;
	gap: 1.5rem;
}

.social-icons span {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icons span i {
	color: #ffffff;
	font-size: 1.2rem;
}

.facebook {
	background-color: #3b5998;
}

.twitter {
	background-color: #00acee;
}

.youtube {
	background-color: #c4302b;
}

.pinterest {
	background-color: #c8232c;
}

.instagram {
	background: linear-gradient(
		#405de6,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d,
		#f56040,
		#fcaf45
	);
}

.content p {
	font-size: 1.4rem;
	color: #fff;
	font-weight: 300;
}

.content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #d2b495;
	cursor: pointer;
	padding: 0.5rem 0 1.2rem;
	color: var(--dark-color);
	display: block;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: 100%;
	font-family: inherit;
}

.content input::-webkit-input-placeholder {
	color: #eee;
}

.content button {
	border: none;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.4rem;
	font-family: inherit;
	cursor: pointer;
	font-weight: 600;
}

.content button:hover {
	background-color: #fff;
	color: #cb7a2a;
}

.copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;

	border-top: 1px solid #d2b495;
}

.copyright p {
	font-weight: 400;
	font-size: 1.6rem;
}

/* ********************************** */
/*       MEDIA QUERIES -- 768px       */
/* ********************************** */
@media (max-width: 768px) {
	html {
		font-size: 55%;
	}

	.hero {
		padding: 2rem;
	}

	.customer-support {
		display: none;
	}

	.content-shopping-cart {
		display: none;
	}

	.navbar {
		padding: 1rem 2rem;
	}

	.navbar .fa-bars {
		display: block;
		color: #fff;
		font-size: 3rem;
	}

	.menu {
		display: none;
	}

	.content-banner {
		max-width: 50rem;
		margin: 0 auto;
		padding: 25rem 0;
	}

	.container-features {
		grid-template-columns: repeat(2, 1fr);
		padding: 3rem 2rem;
	}

	.card-feature {
		padding: 2rem;
	}

	.heading-1 {
		font-size: 2.4rem;
	}

	.card-category {
		height: 12rem;
	}

	.card-category p {
		font-size: 2rem;
		text-align: center;
		line-height: 1;
	}

	.card-category span {
		font-size: 1.4rem;
	}

	.container-options {
		align-items: center;
	}

	.container-options span {
		text-align: center;
		padding: 1rem 2rem;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
	}

	.gallery {
		grid-template-rows: repeat(2, 15rem);
	}

	.container-blogs {
		overflow: hidden;
		grid-template-columns: 1fr 1fr;

		height: 52rem;
	}

	.menu-footer {
		grid-template-columns: repeat(2, 1fr);
	}

	.copyright {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
	}
}

/* ********************************** */
/*       MEDIA QUERIES -- 468px       */
/* ********************************** */
@media (max-width: 468px) {
	html {
		font-size: 42.5%;
	}

	.content-banner {
		max-width: 50rem;
		padding: 22rem 0;
	}

	.heading-1 {
		font-size: 2.8rem;
	}

	.card-feature {
		flex-direction: column;
		border-radius: 2rem;
	}

	.feature-content {
		align-items: center;
	}

	.feature-content p {
		font-size: 1.4rem;
		text-align: center;
	}

	.feature-content span {
		font-size: 1.6rem;
		text-align: center;
	}

	.container-options span {
		font-size: 1.8rem;
		padding: 1rem 1.5rem;
		font-weight: 500;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		gap: 1rem;
	}
    .card-blog.container-img{
        border-radius: 20px;
    }
	.container-img .discount {
		font-size: 2rem;
	}

	.content-card-product h3 {
		font-size: 2.2rem;
	}

	.gallery {
		grid-template-rows: repeat(2, 20rem);
	}

	.blogs {
		padding: 2rem;
	}

	.container-blogs {
		grid-template-columns: 1fr;
		height: 75rem;
	}

	.content-blog h3 {
		font-size: 2.4rem;
	}

	.content-blog span {
		font-size: 1.8rem;
	}

	.content-blog p {
		font-size: 2.2rem;
	}

	.btn-read-more{
		font-size: 1.8rem;
	}

	.contact-info ul,
	.information ul,
	.my-account ul{
		display: none;
	}

	.contact-info {
		align-items: center;
	}

	.menu-footer{
		grid-template-columns: 1fr;
	}

	.content p{
		font-size: 1.6rem;
	}
}